---
- name: Omada Non-root | Create 'omada' User
  ansible.builtin.user:
    name: omada
    comment: "omada service account"
    system: true
    shell: /usr/sbin/nologin
    home: /opt/tplink/EAPController/data
    state: present

- name: Omada Non-root | Stop Omada Service
  ansible.builtin.command: tpeap stop
  register: tpeap_status
  changed_when: tpeap_status.rc != 0

- name: Omada Non-root | Modify 'control.sh', Change Default 'OMADA_USER'
  ansible.builtin.lineinfile:
    path: /opt/tplink/EAPController/bin/control.sh
    search_string: "OMADA_USER=${OMADA_USER:-root}"
    line: OMADA_USER=${OMADA_USER:-omada}

- name: Omada Non-root | Modify 'control.sh', Change 'PID_FILE' Path
  ansible.builtin.lineinfile:
    path: /opt/tplink/EAPController/bin/control.sh
    search_string: 'PID_FILE="/var/run/${NAME}.pid"'
    line: 'PID_FILE="${OMADA_HOME}/data/${NAME}.pid"'

- name: Omada Non-root | Modify 'control.sh', Remove 'check_root_perms' Func Call
  ansible.builtin.lineinfile:
    path: /opt/tplink/EAPController/bin/control.sh
    search_string: "check_root_perms"
    line: "#check_root_perms"

- name: Omada Non-root | Change Omada Directories Owner & Group
  ansible.builtin.file:
    path: "{{ omada_dir }}"
    state: directory
    recurse: true
    owner: omada
    group: omada
  loop:
    - /opt/tplink/EAPController/data
    - /opt/tplink/EAPController/logs
    - /opt/tplink/EAPController/work
  loop_control:
    loop_var: omada_dir
